body {
  font-family: Arial, sans-serif;
  margin: 0;
  width: 100%;
  background-color: hsl(0, 0%, 76%);
}

.hide {
  display: none;
}

.container {
  width: 100%;
  height: auto;
}

svg {
  overflow: visible;
}

.dots {
  position: absolute;
  top: 100%;
  left: -40px;
  margin-top: -10px;

  @media screen and (max-width: 512px) {
    transform-origin: 0 -10;
    transform: scale(.6);
    top: 30px;
  }
}

.st3,
.st4,
.st5,
.st6,
.st7 {
  cursor: pointer;
  transition: transform .3s ease-in-out;
  transform-origin: 50% 50%;
}

.title-container {
  max-width: 700px;
  margin: 0 auto;
}

.box-title {
  position: absolute;
  border-radius: 0 0 25px 0;
  display: block;
  width: 100%;
  height: 100%;
}

.title {
  box-sizing: border-box;
  padding: 10px 20px;
  font-size: 1.2em;
  position: relative;
  width: 100%;
  color: #fff;
  top: 0;
  border-radius: 0px 0px 25px 0px;
  z-index: 2;

  .shadow {
    content: '';
    @extend .box-title;
    left: 10px;
    top: 10px;
    background: #E29B1E;
    z-index: -3;
  }

  .bg {
    @extend .box-title;
    z-index: -2;
    left: 0;
    top: 0;
    background-color: #003A5D;
  }

  @media screen and (max-width: 720px) {
    font-size: .8em;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;

    .dots {
      display: none;
    }
  }
}

.title img {
  padding-top: 12px;
  padding-left: 20px;
}

.rueda-container {
  width: 100vw;
  padding-top: 90px;
  height: 430px;
  z-index: 10;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 699px) {
    padding-top: 30px;
    height: 380px;
  }

  @media screen and (min-width: 700px) and (max-width: 1024px) {
    padding-top: 30px;
    height: 380px;
  }

  .rueda-scroll {
    min-width: 800px;

    .rueda {
      position: relative;
      // z-index: -1;
      width: 100%;
      transform-origin: 50% 0;
      transform: scale(.75);
      top: 0px;

      @media screen and (max-width: 1024px) {
        top: 40px;
        transform: scale(.58);
      }

      @media screen and (max-width: 720px) {
        top: 55px;
        transform: scale(.5);
      }

      .logo_rueda {
        position: absolute;
        top: 190px;
        left: 50%;
        margin-left: -83px;
        z-index: 2;
        // pointer-events: none;
        height: 160px;
        cursor: pointer;
      }

      .invert-x {
        left: auto;
        right: 50%;
      }

      .invert-y {
        top: auto;
        bottom: 50%;
      }

      .info {
        transition: .3s opacity ease-out;
        opacity: 0;
        display: none;
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;
        background-color: #FFFFFF;
        text-align: center;

        &.on {
          opacity: 1;
          pointer-events: all;
          display: block;
        }

        &.i-reduccion {
          width: 450px;
          height: 270px;
          border: 3px solid #2A9CD8;
          margin-top: -370px;
          margin-left: 90px;

          img {
            width: 400px;
            margin-left: -40px;
            margin-top: -10px;
          }
        }

        &.i-evidencia-cardio {
          margin-left: 210px;
          margin-top: 2px;
          width: 400px;
          height: 266px;
          border: 3px solid #EB5E92;

          img {
            width: 320px;
            margin-left: 20px;
            margin-top: -5px;
          }
        }

        &.i-breezhaler {
          width: 244px;
          height: 280px;
          border: 3px solid #003A5D;
          margin: 204px 0 0 -127px;
          
          img {
            margin-left: -3px;
            margin-top: 90px;
            width: 250px;
          }
        }

        &.i-calidad-vida {
          @extend .invert-x;
          width: 370px;
          height: 275px;
          border: 3px solid #3AAA35;
          margin: 3px 210px 0 0;

          img {
            margin-left: -70px;
            width: 310px;
          }
        }

        &.i-guias-gold {
          @extend .invert-x;
          @extend .invert-y;
          width: 440px;
          height: 280px;
          border: 3px solid #E29B1E;
          margin: 0 112px 84px 0;

          img {
            margin-left: -60px;
            width: 360px;
          }
        }
      }
    }
  }
}

.ref_img {
  max-width: 700px;
  position: relative;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  text-align: right;
  z-index: 50;

  @media screen and (max-width: 512px) {
    text-align: center;
  }

  img {
    height: 60px;
    padding-right: 100px;
    cursor: pointer;
    filter: grayscale(100%);

    @media screen and (max-width: 512px) {
      padding-right: 0;
      text-align: center;
    }

    &.color {
      filter: grayscale(0);
    }
  }
}

.references {
  position: relative;
  max-width: 700px;
  height: 390px;
  margin: 0 auto;
  font-size: .5em;
  color: #333333;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin-bottom: 20px;

  @media screen and (max-width: 512px) {
    align-items: flex-start;
    margin-bottom: 10px;
  }

  .ref1 {
    width: 65%;


    @media screen and (max-width: 512px) {
      width: 100%;
    }
  }

  .ref2 {
    width: 35%;

    @media screen and (max-width: 512px) {
      width: 100%;
    }
  }
}

.refsec {
  display: none;
}

.svg {
  position: relative;
  margin: 0 auto;
  width: 540px;
  display: block;

  * {
    pointer-events: none;
  }

  .trigger {
    pointer-events: all;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &.on {
      transition: 0.2s transform ease-in-out;
      transform: scale(1.13);
    }
  }
}

/*
svg portion of code
todo: replace or remove when changing svg
 */
#rueda {
  .st0 {
    fill: none;
    stroke: #000000;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
  }

  .st1 {
    fill: #D1D3D4;
  }

  .st2 {
    fill: #939598;
  }

  .st3 {
    fill: #2A9CD8;
  }

  .st4 {
    fill: #EB5E92;
  }

  .st5 {
    fill: #003A5D;
  }

  .st6 {
    fill: #3AAA35;
  }

  .st7 {
    fill: #F39200;
  }

  .st8 {
    fill: #FFFFFF;
  }

  .st9 {
    font-family: 'Arial-BoldMT', Arial, sans-serif;
  }

  .st10 {
    font-size: 15px;
  }

  .st11 {
    font-size: 26px;
  }

  .st12 {
    font-size: 15px;
  }

  .st13 {
    font-size: 15px;
  }

  .st14 {
    font-size: 8.745px;
  }
}

.sec_info {
  max-width: 700px;
  height: auto;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;

  .blue_bar {
    height: 20px;
    background-color: #003A5D;
  }

  .white_sec {
    height: 100px;
    background-color: #ffffff;
    text-align: center;
    padding-top: 10px;

    img {
      width: 150px;
    }
  }

  .yellow_bar {
    height: 20px;
    background-color: #FDDA00;
  }

  .info_text {
    padding-top: 30px;
    text-align: justify;
    font-size: .5em;

    @media screen and (max-width: 512px) {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.footer_endbar {
  height: 2px;
  background-color: #003A5D;
  max-width: 700px;
  margin: 0 auto;

  .info_footer {
    text-align: center;
    padding-top: 20px;
    font-size: .5em;
    height: 50px;
  }

  .info_imgs {
    height: 50px;
    margin-top: 20px;

    img {
      height: 40px;

      @media screen and (max-width: 512px) {
        height: 30px;
        padding-top: 10px;
      }
    }

    .img1 {
      float: left;

      @media screen and (max-width: 300px) {
        float: none;
        text-align: center;

        img {
          height: 40px;
        }
      }
    }

    .img2 {
      float: right;

      @media screen and (max-width: 300px) {
        float: none;
        text-align: center;

        img {
          height: 40px;
        }
      }
    }
  }
}

.footer_endbar2 {
  height: 30px;
  background-color: #003A5D;
  max-width: 700px;
  margin: 0 auto;
}